# Python
__pycache__/
*.py[cod]
*$py.class
backend/venv/
backend/.env

# Node
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.env.local

# Docker & OS
.DS_Store
Thumbs.db
backend/credentials/ee-key.json